/* Global */
    
body {
    background: #f8f7ff;
    color: #25282b;

    font-family: 'Montserrat', sans-serif;
    
    margin: 0;
}

* {
    --color: #9381ff;
    --shadow: rgba(15, 13, 105, 0.2);
    --colorhouve: #4b267b;

}

body.hideScroll {
    overflow: hidden;
}

.logo {
    width: 100%;
    max-width: 280px;
}

a {
    color: var(--color);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.button {
    color: white;
    background: var(--color);
    
    width: 150px;
    height: 40px;
    
    border-radius: 8px;

    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 8px 16px var(--shadow);
}

.button:hover {
    background-color: var(--colorhouve);
    text-decoration: none;
}

/* Padrão */

#container {
    width: 90%;
    max-width: 980px;
    
    margin: 40px auto;
    
    display: flex;
}

#intro {
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

main {
    margin-top: 32px 0;
}

#buttons {
    
    display: flex;
    justify-content: space-evenly;
    
    margin-bottom: 32px;
    
}

button {
    background: none;
    color: var(--color);
    border: none;
    
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
    
    cursor: pointer;
    
    outline: none;
}

button:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    
    color: #777;
}

footer a {
    opacity: 0.7;
}

.idea {
    display: flex;
    
    background-color: #FFF;
    box-shadow: 0 4px 16px -8px rgba(1, 1,1,0.1);
    border-radius: 8px;
    
    padding: 32px;
    
    margin-bottom: 32px;
}

.idea img{
    width: 60px;
    height: 60px;
    
    margin-right: 32px;
}

.idea p {
    margin: 8px 0;
    color: #777;
}

.idea .description {
    margin: 16px 0;
}



/* modal */

#modal {
    background: #b8b8ff;
    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;

    transition: 400ms;
}

#modal.addScroll {
    overflow: auto;
}

#modal .content {
    margin-top: 20%px;
    
    color: white;
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

#modal form {
    width: 80%;
    max-width: 800px;
    
    margin: 0 auto 15%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 20px;
}

.enviar {
    grid-column-start: 1;
    grid-column-end: span 2;
    display: flex;
    justify-content: space-between;
}

.enviar button {
    margin-top: 0;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}

form input,
form textarea {
    width: 100%;
    
    padding: 12px;
    
    box-sizing: border-box;
    
    border-radius: 6px;
    border: 1px solid var(--shadow)
    
    outline: none;
    
    font-size: 16px;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {

    width: 150px;
    height: 40px;

    background-color: #ffffff22;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-size: bold;

    border-radius: 6px;

    align-self: end;

    transition: 400ms;

}

form a:hover {
    background: #fff;
    color: var(--color);

    text-decoration: none;
}

form button{
    background: white;
    
    width: 150px;
    height: 40px;
    
    border-radius: 6px;
    
    cursor: pointer;
    
    margin-top: 32px;
    
    grid-column: 2;

    justify-self: end;

    transition: 400ms;
}

form button:hover{
    background-color: var(--colorhouve);
    color: white;
    
    text-decoration: none;
}
            
#modal.hide {
    opacity: 0;
    visibility: hidden;
}

/* IDEIAS.HTML */
#page-ideias #container {
    display: block;
}

#page-ideias header {
    display: flex;
    justify-content: space-between;
}

#page-ideias nav {
    display: flex;
    align-items: center;
}

#page-ideias nav li {
    list-style-type: none;

    margin-right: 16px;
}

#page-ideias nav li a {
    color: #25282b;
}

#page-ideias nav li a.button {
    color: white;
}

#page-ideias li:last-child {
    margin: 0;    
}

#page-ideias section#title {
    text-align: center;
}

#page-ideias section#title p {
    opacity: 0.7;
    margin: 0;
}

#page-ideias section#title h1 {
    margin: 0;

    font-size: 28px;
}

#page-ideias section#ideias {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

#page-ideias section#ideias .idea {
    margin: 0;
}

#page-ideias section#title,
section#ideias,
footer {
    margin-top: 64px;
}


/* responsivo */

@media (max-width: 979px) {
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #intro {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    #intro > a {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    footer {
        margin-top: 20px;
    }

    #page-ideias section#ideias {
        display: flex;
        flex-direction: column;
    }

    #page-ideias section#ideias .idea {
        margin-bottom: 20px;
    }

}

@media (max-width: 650px) {
    #modal form {
        display: flex;
        flex-direction: column;
    }

    #modal form .enviar {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    form button {
        margin-top: 0;
    }

    #page-ideias header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #page-ideias nav {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    #page-ideias section#ideias .idea {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #page-ideias section#title, section#ideias {
        margin-top: 40px;
    }
}

